<header>ヘッダー要素は最上部のブロック要素です。</header>
<%# フッター要素<footer></footer>もあります。最下部に置きます。%>

<h1>h1サイズです。</h1>
<h6>h6サイズです。</h6>
 <%#> 見出し要素 h1から順に大きいh6まで。          <%>

<p>p要素は段落のひとかたまりです。ほぼこれが使われます。</p>

<br>
<%#> br要素は改行。終了タグは無い。 <%>

<b>b要素は太字になります。</b>

<a href="https://google.com">a要素はリンクになります。</a>

<p class="color">カラーを変えます。赤にしてます。 </p>
<%#> cssのcolorセレクタを指定しています。 <%>
<p class="font-size">フォントの大きさを変えます。20pxにしてます。 </p>

<p id="idselector"> idセレクタの指定用です。色を変えます。</p>
<%#> idセレクタは指定したid名をcssのセレクタとして使用することができます。
一つのページには同じid名を複数のHTMLには付与しない慣例があります。 <%>

<p>
span要素は<span class="color">中の色が</span>変わります。
</p>

<div class="height-width"> heightプロパティ高さを50。widthプロパティ幅を50。
background-colorプロパティ背景水色</div>

<ul class="list-style">
  <li class="list">リスト1</li>
  <li class="list list2">リスト2赤くして黒点消します。</li>
  <li class="list">リスト3</li>
<ul>
<%#> ul要素でli要素を挟み、リストを作れます。 <%>
<%#> classにスペースを入れれると複数のクラスを持つことが出来ます。 <%>

<div class="main">
      <div class="left-content">子要素を</div>
      <div class="center-content">横並びに</div>
      <div class="right-content">しています</div>
</div>

<div class=border> 
borderによって外枠を作ります。 
  <div class=padding>
   paddingによって内側の余白を決めます。
  </div>
  <div class=margin>
   marginによって外側の余白を決めます。
  </div>
</div>

<div class="position-oya"> 
親要素です。ここにposition: relative;を指定したので、これを基準に子要素の位置が決まります。
  <div class="position-ko">
  子要素です。親要素から20px 20pxの位置になります。 
  </div>
</div>

  
<div >
  <img src="/assets/sample.png" alt="サンプル画像です" class="imaegeclass"  >
</div>
 
 <%#> img src="images/sample.png" alt="サンプル画像です" class="classname"<%>
 <%#> どの画像を使用するか          表示が採用されない時のテキスト   cssを適用するためのセレクタ <%>


<div class="contact">
  <form class="contact-form">
    <input type="text" placeholder="入力前のサンプル文字を入れます。" class="name-form">
    
    <textarea name="message" placeholder="テキストエリアです。" class="message-form"></textarea>
    <input type="submit" placeholder="送信ボタン" class="send">
    <input type="checkbox" placeholder="チェックボックス" class="name-form"> 
    <input type="radio" placeholder="ラジオボタン" class="name-form">
  </form>
</div>
<%#> form要素 入力フォームや送信フォームを入れます。 <%>




