<header>ヘッダー要素は最上部のブロック要素です。</header>
<%# フッター要素<footer></footer>もあります。最下部に置きます。%>

<h1>h1サイズです。</h1>
<h6>h6サイズです。</h6>
 <%#> 見出し要素 h1から順に大きいh6まで。          <%>

<p>p要素は段落のひとかたまりです。ほぼこれが使われます。</p>

<br>
<%#> br要素は改行。終了タグは無い。 <%>

<b>b要素は太字になります。</b>

<a href="https://google.com">a要素はリンクになります。</a>

<p class="color">カラーを変えます。赤にしてます。 </p>
<%#> cssのcolorセレクタを指定しています。 <%>
<p class="font-size">フォントの大きさを変える。20pxにしてます。 </p>

<p id="idselector"> idセレクタの指定用です。色を変えます。</p>
<%#> idセレクタは指定したid名をcssのセレクタとして使用することができます。
一つのページには同じid名を複数のHTMLには付与しない慣例があります。 <%>

<p>
span要素は<span class="color">中の色が</span>変わります。
</p>

<div class="height-width"> heightプロパティを使って高さを50にしています。widthプロパティを使って幅を50にしています。
background-colorプロパティで背景を水色にしています。</div>

<ul class="list-style">
  <li class="list">リスト1</li>
  <li class="list list2">リスト2赤くして黒点消します。</li>
  <li class="list">リスト3</li>
<ul>
<%#> ul要素でli要素を挟み、リストを作れます。 <%>
<%#> classにスペースを入れれると複数のクラスを持つことが出来ます。 <%>


<div class="main">
      <div class="left-content"></div>
      <div class="center-content"></div>
      <div class="right-content"></div>
</div>