<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
 <%#> 見出し要素 h1から順に大きいh6まで。          <%>

<p>p要素は段落のひとかたまりです。ほぼこれが使われます。</p>

<br>
<%#> br要素は改行。終了タグは無い。 <%>

<b>b要素は太字になります。</b>

<a href="https://google.com">a要素はリンクになります。</a>

<p class="color">カラーを変えます。赤にしてます。 </p>
<%#> cssのcolorセレクタを指定しています。 <%>


