/* セレクタ どの部分のHTMLに適用するか。*/
/* プロパティと値の間を:コロンで区切り、;値の後にはセミコロンを入れる */
.selector{
 color: white;
}

.color{
color: red;
}
/* 色を変える */

.font-size{
  font-size: 20px;
}
/* font-size フォントサイズ大きさを変える。 pxで指定します。*/

#idselector{
  color: blue;
}

.height-width{
  height: 50px;
  width : 50%;
  background-color:lightblue;
}
/* heightプロパティは高さを決めます。pxで指定出来ます。 */
/* widthプロパティは幅を決めます。pxで指定出来ます。 */
/* ％を使うと、子要素のサイズを親要素に対して何％で設定するか決められます。 */
/* background-colorプロパティで背景色を設定出来ます。 */

.list{
  list-style: square;
}
/* noneにすると箇条書きの黒点を消せます。squareにすると四角で表現できます。 */

.list2{
color: red;
list-style: none;
}


.main{
  height: 100px;
  width: 100%;
  background-color:white;
  display: flex;   /*  子要素を横並びにする。 */
  justify-content: space-around;  /* 両端1 間2 */
 }
 
 .left-content{
  width: 50px;
  height: 50px;
  background-color: lightgreen;
 }
 
 .center-content{
  width: 50px;
  height: 50px;
  background-color: skyblue;
 }
 
 .right-content{
  width: 50px;
  height: 50px;
  background-color: pink;
 }


.border{
 border: 5px solid black;
}
/* borderは外線のこと太さとスタイルを決める
solid（1本線） double（2本線） */


.padding{
  padding: 20px 20px;
  background-color: red;
}
/*  
paddingは箱の内側の余白を決めます。
padding: 1px;	上下左右
padding: 1px 1px;	上下・左右
padding: 1px 1px 1px;	上・左右・下
padding: 1px 1px 1px 1px;	上・右・下・左
*/

.margin{
  margin: 20px 20px;
  background-color:lightblue;
}
/* 
marginは箱の外側の余白を決めます。
margin: 1px;	上下左右
margin: 1px 1px;	上下・左右
margin: 1px 1px 1px;	上・左右・下
margin: 1px 1px 1px 1px;	上・右・下・左
 */

 .position-oya{
  position: relative;
  background-color:red; 
  border: 1px solid black;
  height: 50px;
}
 .position-ko{
 position: absolute;
 top: 20px;
 left: 20px;
 background-color: lightblue;
 }
 /* positionは要素の配置方法を決めることが出来ます。
position: relative;	現在の位置を基準に相対的な位置を決める
position: absolute;	特定の地点を基準に絶対的な位置を決める（デフォルトの基準はウィンドウ左上）
position: fixed;	要素を指定した位置に固定する
  */



