<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
<%#>charset はどの様な文字要素を用いるかということ  <%>


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
